.roadmap_items {
  position: relative;
}

.roadmap_items::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 100%;
  left: calc(50% - 2px);
  top: 0%;
  background: rgba(187, 185, 185, 0.322);
  z-index: 1;
}

.roadmap_item {
  margin: 2rem 0;
  width: 100%;
  position: relative;
}

.roadmap_header {
  font-weight: 600;
  color: #000;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-family: "Archivo", sans-serif;
}

.roadmap_item_content {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #222;
  font-size: 1rem;
  background-color: snow;
  min-height: 175px;
  border-radius: 7px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.roadmap_item:hover > .roadmap_item_dot {
  border: 6px solid #22a7f0;
  background: snow;
}

.roadmap_item:nth-child(odd)::after {
  left: calc(50% - 46px);
}

.roadmap_item:nth-child(even)::after {
  right: calc(50% - 46px);
}

.roadmap_item_dot {
  height: 26px;
  width: 26px;
  background-color: #22a7f0;
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 13px);
  top: 10%;
  z-index: 2;
}

.roadmap_item_date {
  padding: 12px;
  font-weight: 600;
  font-size: 1rem;
}

.roadmap_item:nth-child(odd) {
  padding-right: calc(50% + 1.5rem);
}

.roadmap_item:nth-child(even) {
  padding-left: calc(50% + 1.5rem);
}

@media (max-width: 800px) {
  .roadmap_timeline {
    width: 85%;
  }

  .roadmap_item:nth-child(odd) {
    padding-right: 0;
    padding-left: 1rem;
    text-align: left;
  }

  .roadmap_item:nth-child(even) {
    padding-left: 1rem;
  }

  .roadmap_items::after {
    left: -1rem;
  }

  .roadmap_item_dot {
    left: -30px;
  }

  .roadmap_item:nth-child(odd)::after,
  .roadmap_item:nth-child(even)::after {
    left: 10px;
  }
}
