.speaker_card_box {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem 0;
}

.speaker_card {
    max-width: 300px;
    color: #fff;
    position: relative;
}

.speaker_basic {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.speaker_card img {
    overflow: hidden;
    max-width: 100%;
}


figcaption {
    background-color: #0f0e0ec2;
    padding: 20px 15px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.speaker_name {
    font-size: 1.15rem;
    line-height: 1.35rem;
    font-weight: 500;
}

.speaker_date {
    background-color: rgb(255, 255, 255);
    color: rgb(99, 2, 99);
    font-weight: 500;
    padding: 8px 14px;
    border-radius: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position: absolute;
    right: 25px;
    top: -20px;
}

.speaker_day {
    font-size: 1.35rem;
    line-height: 1.4rem;
}

.speaker_month {
    font-size: 13px;
    line-height: 15px;
    text-transform: uppercase;
}

.speaker_post {
    font-size: 0.8em;
    line-height: 1.6em;
}

@media (max-width:1000px) {
    .speaker_card_box {
        grid-template-columns: 1fr 1fr;
    }
    .speaker_card {
        max-width: 280px;
    }
}

@media (max-width:600px) {
    .speaker_card_box{
        grid-template-columns: 1fr;
    }
}