.speaker_card_img {
    filter: brightness(110%);
}

.speakers_small_post {
    font-size: 14px;
}

.speakers_small_date {
    font-size: 11px;
}

.speakers_content {
    padding: 5px 8px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    width: 90%;
    background-color: rgba(255, 249, 249, 0.03);
}

.speakers_card_box {
    max-width: 1350px;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    padding: 1.25rem 0;
    gap: 2.5rem 0;
}

.speakers_card {
    display: grid;
    place-items: center;
    width: 270px;
}

@media (max-width:1000px) {
    .speakers_card_box {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem 0;
    }
}

@media (max-width:630px) {
    .speakers_card_box {
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem 0px;
    }

    .speakers_card {
        width: 300px;
    }
}