.hero_wrapper {
  display: flex;
  min-height: 100vh;
  height: auto;
  justify-content: space-around;
  align-items: center;
  padding-top: 100px;
}

.hero_main_title {
  text-align: center;
  font-family: "Archivo", sans-serif;
  font-size: max(7vw, 3rem);
  background: linear-gradient(to right, #fff, #3f3d56);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}

.hero_slogan {
  color: rgb(204, 201, 201);
  text-align: center;
  font-size: 1.25rem;
}

.hero_right {
  width: 45%;
}

.hero_img {
  margin-left: auto;
  max-width: 100%;
}

.hero_info {
  margin-top: 2rem;
  padding: 1rem;
  justify-content: center;
  display: flex;
}

.hero_info span {
  color: white;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  padding: 0.75rem;
  border-right: 2px solid #22a7f0;
}

.hero_info span + span {
  margin-left: 1.25rem;
}

.hero_info span:last-of-type {
  border: 2px solid #22a7f0;
  font-weight: 500;
}

.hero_info span:last-of-type:hover {
  background-color: #22a7f0;
  border-color: #22a7f0;
  cursor: pointer;
  transition: 500ms ease;
}

.hero_modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 300px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  z-index: 999;
  opacity: 1;
  transition: opacity 15s ease-in-out;
  /* transition-duration: 10s;
    transition-property: opacity;
    transition-timing-function: ease-in-out;
    transition-delay: 10s; */
}

.hero_modal .hidden {
  opacity: 0;
}
@media (max-width: 950px) {
  .hero_wrapper {
    flex-direction: column-reverse;
    justify-content: space-evenly;
  }

  .hero_img {
    width: 90%;
    margin-left: 1.5rem;
  }

  .hero_right {
    width: 80%;
  }

  .hero_info span {
    display: block;
    text-align: center;
    border: none;
  }

  .hero_info span + span {
    margin-left: 0;
  }

  .hero_info span {
    padding: 0.75rem 0.25rem;
  }
}
