.contact_form_wrap {
    padding: 0 1rem;
}

.contact_form {
    max-width: 650px;
    background: rgba(13, 13, 46, 0.4);
    margin: 1rem auto;
    padding: 3rem;
    border-radius: 5px;
    font-size: 1.1rem;
    font-family: 'Montserrat', sans-serif;
}

::placeholder {
    color: #dfdddd;
}

.contact_wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;
}

.contact_left {
    display: flex;
    flex-direction: column;
    width: 48%;
}

.contact_input {
    padding: 0.5rem 0;
    width: 100%;
    outline: none;
    border-bottom: 2px solid #22A7F0;
    margin: 0.5rem 0;
    background: none;
    color: white;
}

input[type='text'], input[type='email'] {
    font-family: 'Montserrat', sans-serif;
}

.contact_input:focus, .contact_textarea:focus {
    border-bottom: 3px solid #22A7F0;
}

.contact_textarea {
    overflow: hidden;
    border-bottom: 2px solid #22A7F0;
    background: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    outline: none;
}

.contact_btn_box {
    display: grid;
    place-items: center;
}

.contact_btn {
    width: 50%;
    padding: 0.5rem 0;
    margin: auto;
    border: 2px solid #22A7F0;
    color: white;
}

.contact_btn:hover {
    background: #22A7F0;
    font-weight: bold;
    transition: color 500ms ease;
}

.foot_text {
    font-size: 1.15rem;
    padding: 0 1rem;
    margin: 4rem 0 2rem 0;
    font-family: 'Archivo', sans-serif;
    text-align: center;
    color: white;
}

.foot_text span {
    color: #22A7F0;
}

@media (max-width: 800px) {
    .contact_wrapper {
        flex-direction: column;
    }

    .contact_left {
        width: 90%;
        margin-bottom: 1rem;
    }

    .contact_textarea {
        width: 100%;
    }

    .contact_right {
        width: 90%;
    }
    .foot_text span {
        display: block;
    }
}