.navbar {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 100;
    background: #08081b;
}

.nav_wrapper {
    display: flex;
    margin: 0 auto;
    max-width: 1350px;
    padding: 0.5rem 2.5rem;
}
.logo img {
    width: 120px;
    animation-name: logofade;
    animation-duration: 1s;
    animation-iteration-count: 2;
    animation-direction: alternate;
}

.nav_menu {
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.nav_menu_item {
    cursor: pointer;
}

.nav_menu_item:hover {
    color: #22A7F0;
}

.nav_menu_item+.nav_menu_item {
    margin-left: 20px;
}

.nav_menu_list {
    display: flex;
    color: white;
}

.nav_menu_icon {
    color: white;
    font-size: 2.5rem;
    display: none;
    cursor: pointer;
}

.nav_mobile {
    position: fixed;
    top: 95px;
    right: 0;
    color: white;
    z-index: 200;
    background-color: rgba(13, 13, 46, 0.9);
    width: 100%;
    transform: translateX(100%);
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.mobile_active {
    transform: translateX(0%);
    animation: mobile_open 0.5s ease-in-out;
}

@keyframes mobile_open {
    0% {
        transform: translateX(100%);
    }

    30% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }

}

.mobile_menu_item {
    cursor: pointer;
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
    width: 100%;
}

.mobile_menu_item:hover {
    color: #22A7F0;
}

.mobile_menu_item::selection {
    background-color: transparent;
}

@media (max-width: 1000px) {
    .nav_wrapper {
        padding: 0 1rem;
    }

    .nav_menu_list {
        display: none;
    }

    .nav_menu_icon {
        display: block;
    }

    .nav_mobile {
        top: 80px;
    }
}

@keyframes logofade {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.3);
    }
}

/* 
.mobile_menu_item:visited, .nav_menu_item:active {
    color: #f022b6;
} */

.activeLink {
    color: #22f05c;
}
/* 
.nav_menu_item a {
    color: blue;
  }
  
.nav_menu_item a.activeLink {
color: green;
} */