@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.navpage{
    max-width: 1350px;
    position: fixed;
    width: 100%;
    background: #000;
    z-index: 9999;
    /* margin-top: -3px; */
    top: 0;
}
.navbox{
    /* background: url(./../../public/1397050.webp); */
    color: aliceblue;
    display: flex;
    height: 5rem;
    margin: 0;    
    justify-content: space-between;
    padding: 1rem 100px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.07rem;
}
.links-list{
    list-style-type: none;
    display: flex;
    text-align: center;
    align-items: flex-end;
}
a{
    color: white;
    text-decoration: none;
}
li:hover, li:focus, li:visited{
    color: white;
}

.list-items{
    padding: 0.5rem 1.25rem;
    cursor: pointer;
}
.list-items:hover{
    border-top: #23c186 1px solid;
}
.mobile-nav{
    /* background: url(./../../public/1397050.webp); */
    background: #000;
    display: flex;
    height: 3rem;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    position: relative;
}
.mobile-nav i{
    color: white;
    cursor: pointer;
    display: grid;
    justify-content: right;
    align-items: center;
    font-size: 28px;
    padding: 0;
    margin: 0;
}
.mobile-list{
    display: none;
    list-style-type: none;
    color: white;
    justify-content:stretch;
    padding: 1rem;
    margin: 0px;
    text-align: center;
    padding-bottom: 1rem;
    place-items: justify;
    z-index: -10;
    letter-spacing: 2px;
}

.is-active{
    display: grid;
}

.mobile-list .list-items{
    padding: 0.5rem;
    border-bottom: 0.5px solid #23c186;
    box-sizing: border-box;
    border-radius: 10px 5px;
    margin: 1px 5px;
}

@media screen and (min-width:800px){
    .mobile-nav, .mobile-list{
        display: none;
    }
}

@media screen and (max-width:950px){
    .navbox{
        padding: 1rem 30px;
        height: 4rem;
    }
}
@media screen and (min-width:739.5px) and (max-width:800px) {
    .navbox{
        padding: 1rem 30px;
        height: 4rem;
    }
    
    .links-list{
        font-size: 1rem;
    }
}

@media screen and (max-width:799.5px) {
    .navbox{
        display: none;
    }

}


/* nav {
    height: 90px;
    display: flex;
    padding: 0 1rem;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    position: fixed;
    top: 0;
    max-width: 1350px;
    width: 100%;
    background-color: rgba(0, 0, 0,0.95);
    z-index: 999;
}

.nav_icon {
    color: white;
    cursor: pointer;
    font-size: 1.8rem;
    display: none;
}

.nav_logo {
    width: 120px;
}

.nav_left {
    display: flex;
    justify-content: flex-start;
}

.nav_right {
    display: flex;
    align-items: center;
    color: rgb(226, 226, 226);
    font-size: 1.05rem;
}

.nav_item {
    cursor: pointer;
}

.nav_item+.nav_item {
    margin-left: 1rem;
}

@media (max-width: 850px) {
    nav{
        height: 80px;
    }
    .nav_right {
        display: none;
    }
    .nav_logo {
        width: 100px;
    }
    .nav_icon {
        display: block;
    }
} */