@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Roboto&display=swap');

.App {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0.5rem;
}

.font-primary {
  font-family: 'Archivo', sans-serif;
  color: white;
  font-weight: 500;
}

.font-secondary {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.15rem;
}

/* .App {
  text-align: center;
  width: 100vw;
  height: 100vh;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */