@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Roboto&display=swap');

html::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.App {
  max-width: 1350px;
  margin: 0 auto;
  -webkit-tap-highlight-color: transparent;
}

.font-primary {
  font-family: 'Archivo', sans-serif;
  color: white;
  font-weight: 500;
}

.font-secondary {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: white;
}

img {
  max-width: 100%;
}

@media (max-width: 768px) {
  .font-secondary {
    font-size: 1rem;
  }
}